# Correction practice 10

## Your first file
* Ask user input and write this user input inside a file.

In [ ]:
user_input = input('Enter your age: ')
with open('Ex1.txt', 'w') as f:
  f.write(user_input)

Enter your age: 20

TypeError: ignored

## Read specific lines
* Create a .txt file with 10 lines of any text (write anything but do 10 different lines). You can do it with Python or with the NotePad. Your python code ask the user which line he wants to read and prints the required line.

In [ ]:

with open('Ex2.txt', 'w') as f:
  for i in range(10):
    f.write('This is line ' + str(i) + '\n')

line_number = int(input('Which line? '))
with open('Ex2.txt', 'r') as f:
  lines = f.readlines()
  print(lines[line_number -1])

Which line? 1
This is line 0

## Save character information in a game.
Ask the user 4 information about his character:
* His name
* His age
* His superpower
* His weakness

Save this information in a file (each information on a different line).

In [ ]:
name = input('Enter name: ')
age = input('Enter age: ')
with open('Ex3_4.txt', 'w') as f:
  f.write(name + '\n')
  f.write(age + '\n')

## Display your character information
Do this exercise with the file from the previous exercise. Ask the user which information from the character is want you to display: name, age, superpower or weakness and display it.

In [ ]:
with open('Ex3_4.txt', 'r') as f:
  lines = f.readlines()
  
info = input('What do you want (name/age):')
if info == 'name':
  print(lines[0])
elif info == 'age':
  print(lines[1])

What do you want (name/age):name
Superman

# Correction of assignment 4

In [ ]:
to_do_list = []
print('Here is the list: ')
for i in to_do_list:
  print('\t-', i)

thing_to_add = input('What do you want to add: ')
while thing_to_add != 'nothing' or thing_to_add != 'Nothing':
  to_do_list.append(thing_to_add)
  print('Here is the list: ')
  for i in to_do_list:
    print('\t-', i)
  thing_to_add = input('What do you want to add: ')

print('Here is the final list: ')
for i in to_do_list:
  print('\t-', i)
print('Goodbye')

Here is the list:
What do you want to add: wash
Here is the list:
	- wash
What do you want to add: cook
Here is the list:
	- wash
	- cook
What do you want to add: nothing
Here is the final list:
	- wash
	- cook
Goodbye

# Presentation assignment 6

In [ ]:
# -1 point if you use f = open(.......)
# You have to use with open(.....) as f:


# Lecture 11: Dictionaries

## Make your first dictionary in Python

* Always a pair: key: item
* Separated by coma and use { }

In [ ]:
d = {'Name' : 'Pitt', 'Surname' : 'Brad'}
c = { 'Surname' : 'Brad', 'Name' : 'Pitt'}
print(d, c, d == c )

{'Name': 'Pitt', 'Surname': 'Brad'} {'Surname': 'Brad', 'Name': 'Pitt'} True

## Use your first dictionary in Python
* Get information from the dictionary:
  * my_dict[‘City’]

In [ ]:
d = {'Name' : 'Pitt', 'Surname' : 'Brad'}
print(d['Surname'])

Brad

## Exercise (5 min)
Create a dictionary with information about you: age, name, surname, city, ...
Use this dictionary to print these information in the console.

**Example:** I'm Gaetan Chardon, I'm .....

In [ ]:
d = {'Name' : 'Pitt', 'Surname' : 'Brad', 'Age' : 55, 'City' : 'Los Angeles'}
print('I\'m', d['Surname'], d['Name'], 'I\'m ', d['Age'], 'years old and I come from', d['City'])

I'm Brad Pitt I'm  55 years old and I come from Los Angeles

## Dictionary in Python: some rules

* Keys can be text or int, item can be anything (like in list)
* Key must be unique in the dictionary
* Allows duplicates only for items (not for keys)
* It’s mutable (you can change the value inside after its creation)

In [ ]:
d = {'Name' : 'Gaetan', 5 : 6}
print(d[5])
d = {0 : 'Gaetan', 1 : 'Hello', 2 : 'Whatever'}
print(d[0])

6
Gaetan

In [ ]:
d =  {'Name' : 'Gaetan', 'Name2' : 'Me'}
print(d)

{'Name': 'Me'}

In [ ]:
d =  {'Name' : 'Gaetan', 'Name2' : 'Gaetan'}
print(d)

In [ ]:
d =  {'Name' : 'Gaetan'}
d['Name'] = 'Me'
print(d)

{'Name': 'Me'}

## Some other functions

* The dict() function can also create a dictionary
* The get() function to access to a item

In [ ]:
d = {'Age' : 18, 'Name' : 'Me'}
c = dict(Age = 18, Name = 'Me')
print(d)
print(c)

{'Age': 18, 'Name': 'Me'}
{'Age': 18, 'Name': 'Me'}

In [ ]:
d = {}
c = dict()
print(d)
print(c)

{}
{}

In [ ]:
d = {'Age' : 18, 'Name' : 'Me'}
print(d['Age'])
print(d.get('Age'))

18
18

## Some functions
* The keys() methods to get all the keys of your dictionary
* Add a new item in an existing dictionary (update value if existing, create it if not existing)

In [ ]:
d = {'Name' : 'Pitt', 'Surname' : 'Brad', 'Age' : 55, 'City' : 'Los Angeles'}
print(d.keys())
if 'City' in d.keys():
  print('Yes it\'s inside')

dict_keys(['Name', 'Surname', 'Age', 'City'])
Yes it's inside

In [ ]:
d = {'Name' : 'Pitt', 'Surname' : 'Brad', 'Age' : 55, 'City' : 'Los Angeles'}
d['Height'] = 185
d['Age'] = 65
print(d)

{'Name': 'Pitt', 'Surname': 'Brad', 'Age': 65, 'City': 'Los Angeles', 'Height': 185}

## Deleting values in a dictionary

* pop() method (like in list): delete the pair (key + value) and return the value
* Del (like in list)
* Always based on the keys

In [ ]:
d = {'Name' : 'Pitt', 'Surname' : 'Brad', 'Age' : 55, 'City' : 'Los Angeles'}
del d['Age']
print(d)
removed_item = d.pop('City')
print(d)
print(removed_item)

{'Name': 'Pitt', 'Surname': 'Brad', 'City': 'Los Angeles'}
{'Name': 'Pitt', 'Surname': 'Brad'}
Los Angeles

## Loop on dictionary
* Loop on the keys

In [ ]:
d = {'Name' : 'Pitt', 'Surname' : 'Brad', 'Age' : 55, 'City' : 'Los Angeles'}
for i in d:
  print(i, ':', d[i])

for i in d.keys():
  print(i, ':', d[i])

Name : Pitt
Surname : Brad
Age : 55
City : Los Angeles
Name : Pitt
Surname : Brad
Age : 55
City : Los Angeles

## Exercise final (15 min)

Make a python code for a character creation. The code ask which information you want to add and what it's value and add it to a dictionary. The word stop finish the code.

**Example:** 
Which information: age

Which value: 18

Ok, here is your information:
- age => 18

Which information ....

In [ ]:
d = {}
user_input = ''
while True:
  #Ask information to user
  info = input('Which information: ')
  #If info is not 'stop', ask value
  if info != 'stop':
    value = input('Which value: ')
    #Add it to dicitonary
    d[info]  = value
    #print dictionary
    print('Here is your information: ')
    for i in d:
      print(i, '=>', d[i])
  #if info is 'stop' => break
  else:
    break

Which information: Age
Which value: 18
Here is your information:
Age => 18
Which information: NAme
Which value: Superman
Here is your information:
Age => 18
NAme => Superman
Which information: City
Which value: Whatever
Here is your information:
Age => 18
NAme => Superman
City => Whatever
Which information: stop

# Part 2: Formatting strings

## Formatting strings: first solution

* Use the format() methods

In [ ]:
print('2/3 = ', 2/3)

2/3 =  0.6666666666666666

In [ ]:
n1 = 5
n2 = 6
result = n1 * n2
print('{} x {} = {}'.format(n1, n2, result))
print(n1, 'x', n2, '=', result)

5 x 6 = 30
5 x 6 = 30

## Some tricks

* Use names:
  * "My name is {fname}, I'm {age}".format(age = 36, fname = "John" )

* Specify the occupied space:
  * "My name is {:10}, I’m {:2}".format(“John”, 36)
  * Name always occupy 8 spaces and age always two

In [ ]:
n1 = 5
n2 = 6
result = n1 * n2
print('{first} x {second} = {third}'.format(third = result, second = n2, first = n1))

5 x 6 = 30

In [ ]:
for i in range(11):
  print('{:3} + {:3} = {:3}'.format(i,i,i+i))

  0 +   0 =   0
  1 +   1 =   2
  2 +   2 =   4
  3 +   3 =   6
  4 +   4 =   8
  5 +   5 =  10
  6 +   6 =  12
  7 +   7 =  14
  8 +   8 =  16
  9 +   9 =  18
 10 +  10 =  20

## Some tricks

* Specify the accuracy of float numbers
  * “{} / {} = {:.4f}”.format(2, 3, 2/3)
  * Here the last number will have maximum 4 digits after the coma (0,6667)

* All together is possible:
  * "{n1:4.2f} or {n2:8.4f}”.format(n2 = 5,64164, n1 = 9, 34647)
  * n1 will occupy 4 spaces (coma included) and 2 digits after coma
  * n2 will occupy 8 spaces (coma included) and 4 digits after coma

In [ ]:
print('{} / {} = {:.3f}'.format(2, 3, 2/3))

2 / 3 = 0.667

In [ ]:
print("{n1:6.2f} or {n2:8.4f}".format(n2 = 5.64164, n1 = 9.34647))

  9.35 or   5.6416

## Another way

* Use f before the string and the variable name

In [ ]:
n1 = 2
n2 = 3
result = 2 * 3
print(f'{n1} x {n2} = {result}')

2 x 3 = 6