# Lecture 7: Lists

## Correction practice 6 and reminder

### All numbers.
* Print all numbers between 5 and 50 (included) on the same line with one space between each with a while loop

In [ ]:
a = 5
while a <= 50:
  print(a, end = ' ')
  a += 1

5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50

### The user division
* Ask for user one number. Print the division by 2 and the division by 2 of the result, …. until the odd number

In [ ]:
num = int(input('enter a number: '))
while num%2 == 0:
  print(num, end = ' ')
  num = num // 2

print(num, end = ' ')

enter a number: 964
964 482 241

### The crazy bot
* Ask for user to say hello and repeat it until he says it. The bot becomes crazier and crazier if the user doesn’t say hello.

In [ ]:
answer = input('Hello ')
cnt = 0
while answer != 'Hello':
  if cnt < 3:
    answer = input('I said hello, do you have something to say to me? ')
  elif cnt < 6:
    answer = input('You have to say hello to me! ')
  else:
    answer = input('I SAID HELLO, ANSWER HELLO! ')
  cnt += 1

print('Thank you, how are you?')

Hello trgdfgg
I said hello, do you have something to say to me? fhfd
I said hello, do you have something to say to me? dgfth
I said hello, do you have something to say to me? seg
You have to say hello to me! ghfd
You have to say hello to me! trdj
You have to say hello to me! thrs
I SAID HELLO, ANSWER HELLO! fghj
I SAID HELLO, ANSWER HELLO! dfgh
I SAID HELLO, ANSWER HELLO! ertyu
I SAID HELLO, ANSWER HELLO! erty
I SAID HELLO, ANSWER HELLO! Hello
Thank you, how are you?

### The snail simple
- Suppose there is a well with a depth of 30 meters deep. A snail is at the bottom of this well. The snail can climb 7 meters per day. However, during the night, it slides down 5 meters. How many days will it take to get out of the well? (response: 13)

In [ ]:
depth = 30
up = 7
down = 5
day = 0
position = 0
while True:
  day += 1
  position += up
  if position > depth:
    break
  position -= down

print(day)

13

In [ ]:
depth = 30
up = 7
down = 5
day = 1
position = 7
while position < depth:
  position -= down
  day += 1
  position += up
print(day)

13

### The snail complex
- The problem is the same than the previous one. Just modify your code to give the user the possibility to change the variable of the problem.

In [ ]:
depth = int(input('Enter the depth'))
up = int(input('Enter the up'))
down = int(input('Enter the down'))
day = 1
position = 0 + up
while position <= depth:
  position -= down
  day += 1
  position += up
print(day)

Enter the depth97
Enter the up10
Enter the down9
89

### The snail complex with security
The problem is the same than the previous one. Just modify your code to print a message and ask the inputs again if the “daily distance climbed by the snail” is smaller than the “the night distance slide down by the snail”.

In [ ]:
depth = int(input('Enter the depth'))
up = int(input('Enter the up'))
down = int(input('Enter the down'))
while up <= down:
  print('Enter a up bigger than down!')
  up = int(input('Enter the up'))
  down = int(input('Enter the down'))
day = 1
position = 0 + up
while position <= depth:
  position -= down
  day += 1
  position += up
print(day)

Enter the depth97
Enter the up2
Enter the down5
Enter a up bigger than down!

KeyboardInterrupt: ignored

## Presentation of assignment 3

## Lecture 7: Lists

### Introduction
* A sequence of objects
* Can be anything (str, int, float, …)
* Ordered, changeable, and allow duplicate values
* Created with “[]” and items separated by coma.
* A list can be empty

In [ ]:
my_list = [1, 53, 786, 4, 53, 53, 53, 53]
print(my_list)
#don't do that
#list = [ 54, 956, 678]

[1, 53, 786, 4, 53, 53, 53, 53]

In [ ]:
my_list = [5432, 6953.5796541, True, False, 'jhgdfvbk']
print(my_list)

[5432, 6953.5796541, True, False, 'jhgdfvbk']

In [ ]:
list_ = []
print(list_)

[]

### Access to list items
* Index number
* Index start at 0
* Negative index to refer to the last items
* You can also modify them

In [ ]:
my_list = [5432, 6953.5796541, True, False, 'jhgdfvbk']
print(my_list[0])
print(my_list[3])

5432
False

In [ ]:
my_list = [5432, 6953.5796541, True, False, 'jhgdfvbk']
print(my_list[-1])
print(my_list[-2])

jhgdfvbk
False

In [ ]:
my_list = [5432, 6953.5796541, True, False, 'jhgdfvbk']
print(my_list[4])
print(my_list[-1])
print(my_list[0])
print(my_list[-5])

jhgdfvbk
jhgdfvbk
5432
5432

### Exercise (10 min)
Create a list with 3 fruits. 

Print this list.

Ask for user which one he wants by using index (0, 1, ...)

Print the one he asks.

**Example:**

Here is the list ['Apple', 'Banana', 'Mango']

Which on do you want to print: 2

Mango

In [ ]:
fruits =  ['Apple', 'Banana', 'Mango', 'Grape']
print('Here is my list: ', fruits)
choice = int(input('Which one do you want: '))
print(fruits[choice-1])

Here is my list:  ['Apple', 'Banana', 'Mango', 'Grape']
Which one do you want: 1
Apple

### Access to list items
* Range of indexing (separating by a colon: ex :[1:6])
* Last index of the range is excluded
* First index non specified means the first one
* Last index non specified means the last one
* You can also specify the steps

In [ ]:
fruits =  ['Apple', 'Banana', 'Mango', 'Grape', 'Pear', 'Kiwi']
print(fruits[1:4])

['Banana', 'Mango', 'Grape']

In [ ]:
fruits =  ['Apple', 'Banana', 'Mango', 'Grape', 'Pear', 'Kiwi']
print(fruits[4:])

['Pear', 'Kiwi']

In [ ]:
fruits =  ['Apple', 'Banana', 'Mango', 'Grape', 'Pear', 'Kiwi']
print(fruits[:3])

['Apple', 'Banana', 'Mango']

In [ ]:
fruits =  ['Apple', 'Banana', 'Mango', 'Grape', 'Pear', 'Kiwi']
print(fruits[:])

['Apple', 'Banana', 'Mango', 'Grape', 'Pear', 'Kiwi']

In [ ]:
fruits =  ['Apple', 'Banana', 'Mango', 'Grape', 'Pear', 'Kiwi']
print(fruits[-3:-1])

['Grape', 'Pear']

In [ ]:
fruits =  ['Apple', 'Banana', 'Mango', 'Grape', 'Pear', 'Kiwi']
print(fruits[-3:])

['Grape', 'Pear', 'Kiwi']

In [ ]:
fruits =  ['Apple', 'Banana', 'Mango', 'Grape', 'Pear', 'Kiwi']
print(fruits[1:5:2])

['Banana', 'Grape']

### Change list items

* Indexing to change list item
* Range to change a sequence of the list
* Use the insert function

In [ ]:
fruits =  ['Apple', 'Banana', 'Mango', 'Grape', 'Pear', 'Kiwi']
print(fruits[1])
fruits[1] = 'Peach'
print(fruits)

Banana
['Apple', 'Peach', 'Mango', 'Grape', 'Pear', 'Kiwi']

In [ ]:
fruits =  ['Apple', 'Banana', 'Mango', 'Grape', 'Pear', 'Kiwi']
print(fruits[1])
fruits[1:3] = ['Peach', 'Cucumber']
print(type(['Peach', 'Cucumber']))
print(fruits)

Banana
<class 'list'>
['Apple', 'Peach', 'Cucumber', 'Grape', 'Pear', 'Kiwi']

In [ ]:
fruits =  ['Apple', 'Banana', 'Mango', 'Grape', 'Pear', 'Kiwi']
fruits.insert(3, 'Pineapple')
print(fruits)
fruits.insert(0, 'Carott')
print(fruits)

['Apple', 'Banana', 'Mango', 'Pineapple', 'Grape', 'Pear', 'Kiwi']
['Carott', 'Apple', 'Banana', 'Mango', 'Pineapple', 'Grape', 'Pear', 'Kiwi']

### Exercise (10 min): (79 students)
Create a list of 2 vegetable. ask user one vegatables and where he wants to insert it in the list. Insert the user vegetable at the required index.

**Example:**

Here is the list of vegetable: ['Carrot', 'Cucumber']

Which vegetable do you want to add: 'Patatoe'

Where: 1

Here is the new list: ['Carrot', 'Patatoe', 'Cucumber']

In [ ]:
list_of_veg = ['carott', 'cucumber']
item = input('Which vegetable do you want to add: ')
index = int(input('Where: '))
list_of_veg.insert(index, item)
print('Here is the new list: ', list_of_veg)

Which vegetable do you want to add: dfbgfg
Where: 3
Here is the new list:  ['carott', 'cucumber', 'dfbgfg']

### Inserting at the end
* One of the most important method
* My_list.append()
* To add an item at the end of the list

In [ ]:
fruits =  ['Apple', 'Banana', 'Mango', 'Grape', 'Pear', 'Kiwi']
fruits.append('Pineapple')
print(fruits)

['Apple', 'Banana', 'Mango', 'Grape', 'Pear', 'Kiwi', 'Pineapple']

In [ ]:
fruits =  []
fruits.append('Pineapple')
fruits.append('Kiwi')
print(fruits)

['Pineapple', 'Kiwi']

### Using append and loop
* Add many items to the list
* Can be done with user inputs

In [ ]:
fruits =  []
for i in range(5):
  fruits.append('kiwi')
print(fruits)

['kiwi', 'kiwi', 'kiwi', 'kiwi', 'kiwi']

### Exercise (5 min)

* Create an empty list
* Ask user for 5 fruits and add them to the list
* print the final list
* OR use a while and if user input is stop => the program stop

In [ ]:
fruits = []
f_to_add = input('Enter a fruit: ')
while f_to_add != 'stop':
  fruits.append(f_to_add)
  f_to_add = input('Enter a fruit: ')
print(fruits)

Enter a fruit: kiwi
Enter a fruit: pineapple
Enter a fruit: apple
Enter a fruit: stop
['kiwi', 'pineapple', 'apple']

### Getting the length of the lists
* The len() function returns the length of the list
* Useful in loops

In [ ]:
fruits =  ['Apple', 'Banana', 'Mango', 'Grape', 'Pear', 'Kiwi']
length = len(fruits)
print(length)

6

In [ ]:
fruits =  ['Apple', 'Banana', 'Mango', 'Grape', 'Pear', 'Kiwi']
length = len(fruits)
print(fruits[length - 1])

Kiwi

In [ ]:
fruits =  ['Apple', 'Banana', 'Mango', 'Grape', 'Pear', 'Kiwi']
for i in range(len(fruits)):
  print(i)

0
1
2
3
4
5

### Removing items from the list
* My_list.remove() => remove the item
* del mylist[0] => remove the item from index and list
* My_list.pop() => extract item with index value
* My_list.clear() => delete all items (list becomes empty)

In [ ]:
fruits =  ['Apple', 'Banana', 'Mango', 'Grape', 'Pear', 'Kiwi', 'Banana']
fruits.remove('Banana')
print(fruits)

['Apple', 'Mango', 'Grape', 'Pear', 'Kiwi', 'Banana']

In [ ]:
fruits =  ['Apple', 'Banana', 'Mango', 'Grape', 'Pear', 'Kiwi', 'Banana']
del fruits[3]
print(fruits)

['Apple', 'Banana', 'Mango', 'Pear', 'Kiwi', 'Banana']

In [ ]:
fruits =  ['Apple', 'Banana', 'Mango', 'Grape', 'Pear', 'Kiwi', 'Banana']
item_removed = fruits.pop(3)
print(fruits)
print(item_removed)

['Apple', 'Banana', 'Mango', 'Pear', 'Kiwi', 'Banana']
Grape

In [ ]:

fruits =  ['Apple', 'Banana', 'Mango', 'Grape', 'Pear', 'Kiwi', 'Banana']
print(fruits)
fruits.clear()
print(fruits)

['Apple', 'Banana', 'Mango', 'Grape', 'Pear', 'Kiwi', 'Banana']
[]

### exercise (5 min)
* With the lists in the following code, ask the user which item he wants to remove (from its index value), remove it from the first list and add it to the second list.

**Example**: Which item do you want to remove: 2

Here is the new list: ['tennis', 'ping-pong', 'foot']

Here is the list of removed items: ['kayak']

In [ ]:
list_of_sport = ['tennis', 'ping-pong', 'kayak', 'foot']
list_of_removed_sport = []
index = int(input('What item do you want to remove? '))
item_removed = list_of_sport.pop(index)
list_of_removed_sport.append(item_removed)
print(list_of_sport)
print(list_of_removed_sport)

What item do you want to remove? 2
['tennis', 'ping-pong', 'foot']
['kayak']

### Step 2: (5 min)
* modify the previous exercise, the user doesn't give the index anymore, he gives the item.

In [ ]:
list_of_sport = ['tennis', 'ping-pong', 'kayak', 'foot']
list_of_removed_sport = []
item = input('What item do you want to remove? ')
list_of_sport.remove(item)
list_of_removed_sport.append(item)
print(list_of_sport)
print(list_of_removed_sport)

What item do you want to remove? kayak
['tennis', 'ping-pong', 'foot']
['kayak']

### Other methods
* The .extend() methods => add a list to another list
* .sort() => to sort the list (reverse = True to change the way)
* Adding list together with ‘+’
* .copy() => to copy the list
* .index() => to get index from an item

In [ ]:
list_of_sport = ['tennis', 'ping-pong', 'kayak', 'foot']
list_of_sport.extend(['Canoe', 'basketball'])
print(list_of_sport)
#difference with append
list_of_sport = ['tennis', 'ping-pong', 'kayak', 'foot']
list_of_sport.append(['Canoe', 'basketball'])
print(list_of_sport)
print(len(list_of_sport))
print(list_of_sport[4])

['tennis', 'ping-pong', 'kayak', 'foot', 'Canoe', 'basketball']
['tennis', 'ping-pong', 'kayak', 'foot', ['Canoe', 'basketball']]
5
['Canoe', 'basketball']

In [ ]:
list_of_sport = ['tennis', 'ping-pong', 'kayak', 'foot']
list_of_sport = list_of_sport + ['Canoe', 'basketball']
print(list_of_sport)

['tennis', 'ping-pong', 'kayak', 'foot', 'Canoe', 'basketball']

In [ ]:
list_of_sport = ['tennis', 'ping-pong', 'kayak', 'foot']
list_of_sport.sort()
print(list_of_sport)
list_of_sport.sort(reverse = True)
print(list_of_sport)

['foot', 'kayak', 'ping-pong', 'tennis']
['tennis', 'ping-pong', 'kayak', 'foot']

In [ ]:
list_of_sport = ['tennis', 'ping-pong', 'kayak', 'foot', 'tennis']
print(list_of_sport.index('tennis'))

0

### Loop on the lists
* As a string, you can loop on the list
* Use len() and range() for loop from index
* Be careful on deleting items in loops
* Enumerate() => to loop on index and item

In [ ]:
fruits =  ['Apple', 'Banana', 'Mango', 'Grape', 'Pear', 'Kiwi', 'Banana']
for i in fruits:
  print(i)

Apple
Banana
Mango
Grape
Pear
Kiwi
Banana

In [ ]:
fruits =  ['Apple', 'Banana', 'Mango', 'Grape', 'Pear', 'Kiwi', 'Banana']
for i in range(len(fruits)):
  print(fruits[i])

Apple
Banana
Mango
Grape
Pear
Kiwi
Banana

In [ ]:
fruits =  ['Apple', 'Banana', 'Mango', 'Grape', 'Pear', 'Kiwi', 'Banana']
for index, item in enumerate(fruits):
  print(index, item)

0 Apple
1 Banana
2 Mango
3 Grape
4 Pear
5 Kiwi
6 Banana

### Chek if an element is in a list
Use the ‘in’ keyword in a if function

In [ ]:
fruits =  ['Apple', 'Banana', 'Mango', 'Grape', 'Pear', 'Kiwi', 'Banana']
if 'Grape' in fruits:
  print('Yes')

Yes

In [ ]:
fruits =  ['Apple', 'Banana', 'Mango', 'Grape', 'Pear', 'Kiwi','Apple','Apple','Apple','Apple', 'Banana']
while 'Apple' in fruits:
  fruits.remove('Apple')
print(fruits)

['Banana', 'Mango', 'Grape', 'Pear', 'Kiwi', 'Banana']

### List final exercise (10 min)
* Here is the first list [1,2,3] and here is the second ['hello', 'yo']
* Print the sum of these list ([1, 2, 3, 'hello', 'yo'])
* Do it with 3 differents methods