# Lecture 2: Variables, Inputs and Outputs

## Variables

### What is a variable

- Close to mathematical concept
- A box where you can put data inside
- Easy to declare (= create)
- Use an assignment operator (‘=‘)

In [ ]:
a = 7
b = 8
c = 'jhudrgkd;r'
print(a, b ,c)

7 8 jhudrgkd;r

### The different types of variables

List of  main types:
- String: “str” (“hello”, ‘hello’, “how are you”, …)
- Floating point number: “float” (54.62, 656.5, 1.0, …)
- Integers numbers: “int” (1, 6, 32197416, …)
- Boolean values: “bool” (True, False)

/!\ Boolean values are case sensitive: False and True (not false, not FALSE)

Double-quotes (“) and quote (‘) in python are the same

In [ ]:
a_text = "this is a text"
a_float = 65454.0524
a_int = 5
a_bool = True
print(a_text, a_float, a_int, a_bool)

this is a text 65454.0524 5 True

### The type of variables, useful functions

Variable can change type automatically. <br>

The type() function to get the type of a variable<br>

Function switch to forced a variable type
- str()
- int()
- float()
- bool()

In [ ]:
a_text = "this is a text"
a_float = 65454.0524
a_int = 5
a_bool = True
print(type(a_text), type(a_float), type(a_int), type(a_bool))

<class 'str'> <class 'float'> <class 'int'> <class 'bool'>

In [ ]:
a_int_text = str(True)
print(a_int_text*2)
a = 5
b = 2
c = a/b
print(type(c))
a = float(5)
print(a)
a = float(True)
print(a)
a = int(5.999)
print(a)

TrueTrue
<class 'float'>
5.0
1.0
5

#### Exercise on variable type (10 min)

Can you get the rule for the bool() function? 

When you use the bool() function, which string, int and float will return (create) a True value and which ones will create a False value? 

(fill the text behind)

In [ ]:
print(bool('Hello'), bool('False')) # True
#Be caarefull str(False) ==> 'False' and bool('False') => True
print(bool(''), bool("")) # False
print(bool(1), bool(-1)) #True
print(bool(0)) #False
print(bool(1.0), bool(-1.0)) #True
print(bool(0.000000)) #False

True True
False False
True True
False
True True
False

Result of exercise:

For int: The numbers ... return a False value and the number ... a True value.

For float: The numbers ... return a False value and the number ... a True value.

For string: The text ... return a False value and the text ... a True value.

### Variable and operators
List of main operators: +, -, *, /, //, %

// : quotient

% : rest

Examples: 
- 11//5 = 2 (because 2*5 = 10)
- 11%5 = 1 (because 11- (2*5) = 1)

Can add variable together

Type a data automatically change if necessary

In [ ]:
a = 26
b = 3
print(a//b)
print(a%b)
print('b * 8 + 2 = a')
print(2**5)
print(type(5/2), type(2.5*2))

8
2
b * 8 + 2 = a
32
<class 'float'> <class 'float'>

### Variable name
Authorized characters: letters, numbers and underscore (‘_’)

Case sensitive (A not the same than a)

Exception:
- No numbers in first position

PEP8 rules: https://peps.python.org/pep-0008/ (not mandatory but recommended)
- For variable: lowercase and underscores

In [ ]:
a = 5
a_512356 = 6
# a-jdgh = 7
# 5_a = 5
_helo = 5
_ = 6
__________1 = 100
HELLO = 5
hello = 6
print(HELLO + hello)
l = 5
I = 6
O = 0
this_is_a_good_variable_name = 6
ThisIsBad = 5
THISISNOTGOOD = 10

11

### Assignment methods
Multiple assignment

Special assignment operator:
- +=
- -= 
- *= 
- /=

In [ ]:
hello, a, var = 51, 65, 698
print(hello, a, var)
hello = 51, 65, 698
print(hello)
a = b = c = 11
print(a, c)

51 65 698
(51, 65, 698)
11 11

In [ ]:
varia = 10
varia += 1 #varia = varia + 1
print(varia)

11

### Exercise on Variables (10 min):

In the following code, print the sentence "The result of 10 + 5 is 15 (I'm almost sure)".

You must have the **exact** same sentence (white-space included). you cannot change the code which is already written.

You must use: 
- this assignment operator '+='
- functions : int() or str()

Remember:
- You can print two text with the + operator (print(t1 + t2))
- You can print strings and int together with arguement (print(t1, n1))

(69 students)

In [ ]:
text1 = "(I'm almost sure)"
text2 = "The result "
text3 = "of "
text4 = "+"
text5 = "is"
number1 = '10'
number2 = 4
number2 += 1
print(text2 + text3 + number1, text4, number2, text5, number2+int(number1), text1)

The result of 10 + 5 is 15 (I'm almost sure)

## User inputs

### The input function

The input() function

Stop the program and wait until user input

User input is in the console

User type character and then “enter”

You can store this input in a variable

The type is always a string.

In [ ]:
a = input()
print(a*10)
print(type(a))

1
1111111111
<class 'str'>

### Text with the input and numbers
Adding a text with the input: use it as argument

Use the type functions (int(), float()) to automatically transform it into numbers.

In [ ]:
a = input("enter a value : ")
print('The value is: ', a)

enter a value :
The value is:

In [ ]:
a = int(input("enter a value (a int please): "))
print('The value is: ', a, 'and its type is: ', type(a))

enter a value (a int please): kjhg

ValueError: ignored

## Output: the print function()

See lecture 1

## Exercise (15 min): input, variable and output

Make a code which:
- ask from the user two numbers
- print the addition, multiplication, substraction and division of these numbers.
- add a text to every print to explain the calculation (example: "1 + 5 = 6")

In [ ]:
#Exercise:

## Operators

### Logical operators

Two operators:
- or
- and
- not
Case sensitive (AND, And)

Example:
- “or” : if at least one is True, the result is True
- “and”: if all are True, the result is True
- “not”: if it’s False, the result is True

In [ ]:
# print(True   and   True) #a > 1
# print(True   and   False)
# print(False   and   True)
# print(False   and   False)

# print(True   or   True) 
# print(True   or   False)
# print(False   or   True)
# print(False   or   False)

print(not 1 > 2)

True

### Comparison operators

Comparison operators:
- == (equal)
- != (not equal)
- \> (greater than)
- < (less than)
- <= (less or equal than)
- \>= (greater or equal than)

In [ ]:
print(1 > 2 and 5 == 5)
print(1 > 2 or 5 == 5)
print( 6== 6 and 5<= 6 and 5>= 5)

False
True
True

In [ ]:

b = int(input('Enter a number: '))
print(b > 2)

Enter a number: -5
False

### Identity operators

Identity operators:
- is
- is not

Compare if two object (variable for example) are the same

In [ ]:
a = 5
b = 5
print(a is b)

False

### Exercise Operators (10 min)
**Step 1.**
Make a program which does the following:
- ask the user one number.
- print the following message: "Your number is betwwen 0 and 10: True" replace True by False if the number is not between 0 and 10..

**Step 2.** 

Print two messsages according to the inputs: 
- "Yes your number is between 0 and 10!".
- "No your number is not at all between 0 and 10!"

(**You are not allowed to use the if function.**)

In [ ]:
a = int(input("Enter a number: "))
print("Your number is betwwen 0 and 10:", 0 < a < 10)

Enter a number: 5
Your number is betwwen 0 and 10: True

In [ ]:
a = int(input("Enter a number: "))
b = 0 < a < 10
# b = int(b)

print("Yes your number is between 0 and 10!"*int(b), end = '')
print("No your number is not at all between 0 and 10!"*int(not b))

Enter a number: 25
No your number is not at all between 0 and 10!