# Lecture 6: The while loop

## Correction practice 5 and reminder

### All numbers.
- Print all numbers between 5 and 50 (included) on the same line with one space between
each.

In [ ]:
for i in range(5, 51, 1):
  print(i, end = ' ')

5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50

### Give user information.
- Ask for user three inputs: a start, an end and a step and print all number according to these inputs.

In [ ]:
start = int(input('Enter a start number'))
end = int(input('Enter a end number'))
step = int(input('Enter a step'))
for i in range(start, end, step):
  print(i, end = '-')

Enter a start number50
Enter a end number20
Enter a step-3
50-47-44-41-38-35-32-29-26-23-

### The simple pyramid
* Ask for the user the height of the required pyramid and print a pyramid of stars according to the input.

In [ ]:
a = int(input("Enter the height: "))
for i in range(1, a+1):
  print(i * '*')

Enter the height: 6
*
**
***
****
*****
******

### The less simple pyramid
- Ask for the user the height of the required pyramid and print a pyramid

In [ ]:
a = int(input("Enter the height: "))
for i in range(1, a * 2, 2):
  print(i * '*')

Enter the height: 6
*
***
*****
*******
*********
***********

### The perfect simple pyramid
- Ask for the user the height of the required pyramid and print a pyramid of stars according to the input (each level has 2 stars more than the previous one and they are centred).

In [ ]:
a = int(input("Enter the height: "))
n = a-1
for i in range(1, a * 2, 2):
  print(n * " " + i * '*')
  n -= 1

Enter the height: 4
   *
  ***
 *****
*******

### The prime numbers
- Ask for the user a number. You program will tell if it’s a prime number. The definition of a prime number is: “a whole number greater than 1 that cannot be exactly divided by any whole number other than itself and 1 (e.g. 2, 3, 5, 7, 11). »

In [ ]:
num = int(input('Enter a number: '))
prime = True
for i in range(2, num, 1):
  if num%i == 0:
    prime = False
    print('It is not a prime number because ', i, 'x', num//i, '=', num)
    break
# else:
#   print('prime')
if prime: print('prime')

Enter a number: 8
It is not a prime number because  2 x 4 = 8

## Correction of assignment 1 (the beginners version)

-	Your code must print all the calculation on the two inputs (addition, subtraction, multiplication, division).

In [ ]:
a = int(input("A number:"))
b = int(input("A number:"))
print(a, "+", b,"=", a+b)
print(a, "-", b,"=",a-b)
print(a, "*", b,"=",a*b)
print(a, "/", b,"=",a/b)

A number:100
A number:10
100 + 10 = 110
100 - 10 = 90
100 * 10 = 1000
100 / 10 = 10.0

## Assignment 2: The best pyramid

Ask for the user 2 inputs: 
* The height of the pyramid 
* The character used for the top of the pyramid

Print the pyramid according to the two inputs

## The while loop

### Why a while loop?

* Same code execute several times
* The exit of the loop is done according to a condition

### What is a while loop

* Keyword (while) + condition (any) + colon (:) then indentation and code to execute several time
* Really similar to if

In [ ]:
a = 0
while a !=5:
  print('hello')
  a += 1

hello
hello
hello
hello
hello

In [ ]:
m = 0
while m != 5:
  print('hello')
  m += 2

while True:
  print('hello')

### Some information
* As many line as you want
* Indented lines => inside the loop
* You can use variables from before

In [ ]:
a = 0 
while a < 8:
  print('hi')
  print('hello')
  a += 1

hi
hello
hi
hello
hi
hello
hi
hello
hi
hello
hi
hello
hi
hello
hi
hello

### Exercise (5 min): 
* Ask a user input
* print the numbers from 0 until this number with a while loop
* print the sum of numbers

In [ ]:
n = int(input('Enter a number: '))
total = 0
a = -1
while a < n:
  a += 1
  total += a
  print(a, end = ' ')
print(total)

Enter a number: 10
0 1 2 3 4 5 6 7 8 9 10 55

### Difference between while and for
* If fixed number of iteration => for loop
* If always exit for loop with a break => while loop

In [ ]:
#fixed number
# a = 0
# while a <8:
#   print('hi', end = ' ')
#   a += 1
for i in range(0,8):
  print('hi', end = ' ')

In [ ]:
# for i in range(0, 10000):
#   if i > 10:
#     break
#   i *= 2
i = 0
while i< 10:
  print(i)
  i *= 2

### Exercise (10 min):
Ask for user input and print the lowest number which is bigger to this number when factorial (using while function).

Input: 563, Output: "6, because 6! > 563"

Input: 8, Output: "4, because 4! > 8"

Input: 51963, Output: "9, because 9! > 51963"

In [ ]:
fact = 1
i = int(input('Enter a number: '))
n = 1
while fact < i:
  n += 1
  fact *= n
print(n)

Enter a number: 563
6

(5 min) Do the same exercise whith the for function.

In [ ]:
fact = 1
a = int(input('Enter a number: '))
for i in range(2, a):
  fact *= i
  if fact > a:
    print(i)
    break

Enter a number: 100
5

### Break and continue
Exactly like for

In [ ]:
a = 0
while a <8:
  print(a, end = ' ')
  a += 1
  if a > 5:
    break

0 1 2 3 4 5

In [ ]:
a = 0
while a <8:
  if a == 5:
    a += 2
    continue
  a += 1
  print(a, end = ' ')

1 2 3 4 5 8

### The else statement
* Work for the “for” and the “while” loop
* Only executed of the loop is finish
* Not done if break is used to exit the loop

In [ ]:
for i in range(0,20):
  print(i, end = ' ')
  if i == 10:
    break
else:
  print('The loop has finished')

0 1 2 3 4 5 6 7 8 9 10

In [ ]:
i = 0
while i < 20:
  print(i, end = ' ')
  i += 1
  # if i == 10:
  #   break
else:
  print('The loop has finished')

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 The loop has finished

### While loop and inputs
* Make possible to ask input in the loop
* Continue the loop until the input is the required one

In [ ]:
a = 0
while a != 3:
  a+= 1
  input1 = input('enter: ')
  print(input1*2)

enter: hello
hellohello
enter: hi
hihi
enter: gaetan
gaetangaetan

### While loop exercise (10 min)
Ask user inputs, continue to ask user input until the number is between 0 and 10. 

**Example:**

Enter a number between 0 and 10: 20

No, I said between 0 and 10: -6

No I said betwwen 0 and 10: 5

Thank you!

In [ ]:
n = int(input("Enter a number between 0 and 10: "))
while n < 0 or n > 10:
  n = int(input("No, I said between 0 and 10: "))
print('Thank you!')

Enter a number between 0 and 10: 20
No, I said between 0 and 10: -6
No, I said between 0 and 10: -5
No, I said between 0 and 10: 80
No, I said between 0 and 10: 60
No, I said between 0 and 10: 897645
No, I said between 0 and 10: 684
No, I said between 0 and 10: 2
Thank you!

## Lists

### Introduction
* A sequence of objects
* Can be anything (str, int, float, …)
* Ordered, changeable, and allow duplicate values
* Created with “[]” and items separated by coma.

In [ ]:
my_list = [1, 2, 3]
print(my_list)

[1, 2, 3]

In [ ]:
my_list = [1, 2, 3, 'heloo', 'hi', True, False, 153.97]
print(my_list)

[1, 2, 3, 'heloo', 'hi', True, False, 153.97]

In [ ]:
my_list = [1, 2, 3, 3, 3,3,3, 'heloo', 'hi', True, False, 153.97]
print(my_list)

[1, 2, 3, 3, 3, 3, 3, 'heloo', 'hi', True, False, 153.97]

### Access to list items
* Index number
* Index start at 0
* Negative index to refer to the last items

In [ ]:
list_ = [5, 6, 9, 10]
print(list_)
print(list_[1])
print(list_[0])
print(list_[3])

[5, 6, 9, 10]
6
5
10

In [ ]:
list_ = [5, 6, 9, 10]
print(list_)
print(list_[-1])
print(list_[-2])
print(list_[-3])
print(list_[-4])

[5, 6, 9, 10]
10
9
6
5

### Exercise (10 min)
Create a list with 5 fruits. 

Print this list.

Ask for user which one he wants by using index (0, 1, ...)

Print the one he asks.

**Example:**

Here is the list ['Apple', 'Banana', 'Mango']

Which on do you want to print: 2

Mango

### Access to list items
* Range of indexing (separating by a colon: ex :[1:6])
* Last index of the range is excluded
* First index non specified means the first one
* Last index non specified means the last one
* You can also specify the steps

### Change list items

* Indexing to change list item
* Range to change a sequence of the list
* Use the insert function

In [ ]:
a = [1,2,3]
a.insert(1, 'd')
print(a)

[1, 'd', 2, 3]

### Exercise (10 min):
Create a list of 2 vegetable. ask user one vegatables and where he wants to insert it in the list. Insert the user vegetable at the required index.

**Example:**

Here is the list of vegetable: ['Carrot', 'Cucumber']

Which vegetable do you want to add: 'Patatoe'

Where: 1

Here is the new list: ['Carrot', 'Patatoe', 'Cucumber']