# Lecture 5: The for loop

## Correction practice 4 and reminder

### Adulthood
- Make a program which can tell if the user is an adult or not. You should only use one-line if statement. Your program should be two lines maximum (with only one print).

In [ ]:
age = int(input('Enter your age: '))
print('You are', 'an adult' if age >= 18 else 'a child')
# if age >= 18 :
#   print('You are an adult')
# else:
#   print('You are a child')

Enter your age: 20
You are an adult

### Solve the following errors
- The following lines of code can sometimes raise errors. Fix them. Make as less as possible modification of the code.

In [ ]:
input1 = int(input('Enter a number:'))
input2 = int(input('Enter another number:'))

Enter a number:15
Enter another number:12

In [ ]:
a = 6
if a == 6:
  print('hello')

hello

In [ ]:
ask = bool(int(input('Do you want to make an calculation? (0/1)')))
if ask:
  n = int(input('What is your number:'))
  print('Your number mulltiply by two is: ', n*2)

Do you want to make an calculation? (0/1)0

In [ ]:
a = 0
if a == 0: print("It's a zero"); print('I think')

It's a zero
I think

### Calculator optimised
Make a program which two numbers from user and an operation (multiplication, addition,â€¦). You program should rise error if the user enters a text other than number or make and division by zero. You can use try and except.

In [ ]:
n1, n2 = False, False
try:
  n1 = int(input('Enter n1 :'))
except ValueError:
  print('The first number is incorrect')
try:
  n2 = int(input('Enter n2 :'))
except ValueError:
  print('The second number is incorrect')
  
if n1 != False and n2 != False:
  op = input("Enter an operation")

  if op == 'Division':
    try:
      print(n1/n2)
    except ZeroDivisionError:
      print('The second number is 0!')
  elif op == 'Addition':
    print(n1+n2)
  else:
    print('I don\'t know this operation')

Enter n1 :gfhjk
The first number is incorrect
Enter n2 :qztes
The second number is incorrect

## For loop

### Why a loop?

* Same code execute several times
* Save space and time
* The number of loop vary in function of variable

In [ ]:
#Example: print all numbers from 0 to 10
print(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

0 1 2 3 4 5 6 7 8 9

### What is a for loop

* Keyword (for) + variable (any) + in range + number of iteration between parenthesis + colon (:) then indentation and code to execute several time
* One part is the number of iteration, second one is the code to execute

In [ ]:
for i in range(3):
  print('hello')

hello
hello
hello

### Some information
* As many line as you want
* Indented lines => inside the loop
* You can use variables from before

In [ ]:
for i in range(3):
  print('Hello')
  print('hi')
print('end')

Hello
hi
Hello
hi
Hello
hi
end

In [ ]:
number = 5
for i in range(3):
  print(number + 1)

6
6
6

In [ ]:
n = 5
for i in range(6):
  print(n)
  n = n + 1

5
6
7
8
9
10

### Exercise (10 min): 
* Print a square of stars of width 6 and height 4
(Use at least one for loop)

In [ ]:
#wanted result:
# ******
# ******
# ******
# ******

width = 6
height = 4
for i in range(height):
  print('*'* width)

******
******
******
******

### What is the variable?
* Can be use in (and after) the loop 
* Represent every step

In [ ]:
for k in range(20):
  print(k, end = ' ')

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19

### Exercise (10 min):
Print the sum of all number from 0 to 10

In [ ]:
sum_numb = 0
for i in range(11):
  sum_numb += i
print(sum_numb)

55

### The range function
* More complete than just one number
* end is mandatory, start and step is optional
* Start is included, end is excluded (range(1,3) => 1, 2)

In [ ]:
for i in range(0, 10, 1):
  print(i, end = ' ')
print()
for i in range(0, 10):
  print(i, end = ' ')
print()
for i in range(5, 15, 2):
  print(i, end = ' ')
print()
for i in range(-10, -5, 2):
  print(i, end = ' ')
print()
for i in range(100, 95, -1):
  print(i, end = ' ')

0 1 2 3 4 5 6 7 8 9
0 1 2 3 4 5 6 7 8 9
5 7 9 11 13
-10 -8 -6
100 99 98 97 96

### Some examples
* Sum of even numbers
* Factorial numbers

In [ ]:
n = 0
for i in range(0, 10, 2):
  n += i
print(n)

20

In [ ]:
# factorial 5! = 5*4*3*2*1
n = 1
for i in range(10, 0, -1):
  n *= i
print(n)

3628800

### Exercise (5 min)
Print the sum of odd number from 21 until 50

In [ ]:
sum_ = 0
for k in range(21, 51, 2):
  sum_ += k
print(sum_)

525

### The break statement
* Keyword: break
* Exit the loop
* To put in a if statement (otherwise it stops directly the loop)

In [ ]:
for i in range(10):
  print(i)
  if i > 5:
    break

0
1
2
3
4
5
6

Exercise (5 min)
 * ask user input
 * print all number from 20 until the minimum between 100 and the user input 
 * if you stop at 100, print: 'It's too long I stopped'

 input: 1000
 output: numbers from 20 until 100

 input: 80
 output: numbers from 20 until 80

 #72 students (if more than 72 crosses on attendance => everybody absent)

In [ ]:
a = int(input('Enter a number'))

for i in range(20, a + 1):
  print(i, end = ' ')
  if i >= 100:
    print('It\s too long I stopped')
    break

Enter a number150
20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100 It\s too long I stopped

### The continue statement
* Keyword
* Skip the actual iteration and go to next one

In [ ]:
for i in range(5):
  print(i)
  if i == 2:
    continue
  print(i)

0
0
1
1
2
3
3
4
4

In [ ]:
for i in range(-5, 5):
  if i == 0:  
    continue
  print(10 / i)

-2.0
-2.5
-3.3333333333333335
-5.0
-10.0
10.0
5.0
3.3333333333333335
2.5

### For loop and strings
Variable will be each letter

In [ ]:
for i in 'hello, I\'m ok !':
  print(i)

h
e
l
l
o
,

I
'
m

o
k

!

### Exercise (10 min):
* Repeat every letter of a user input
* Repeat only the letters
* Skip the letter 'o'

example: input: "hello, you", output: "hheelllloo,,  yyoouu"

example: input: "hello, you", output: "hheelllloo, yyoouu"

example: input: "hello, you", output: "hheellll, yyuu"

In [ ]:
a = input('Enter a text: ')
for i in a:
  print(i*2, end = '')

Enter a text: Hello, you
HHeelllloo,,  yyoouu

In [ ]:
a = input('Enter a text: ')
for i in a:
  if i == 'o': continue
  if i == ',' or i == ' ':
    print(i, end = '')
  else:
    print(i*2, end = '')

Enter a text: Hello you, how are you?
HHeellll yyuu, hhww aarree yyuu??